/**
 * This style is a modified copy of the amplitudejs blue-playlist example (https://521dimensions.com/open-source/amplitudejs/examples/blue-playlist).
 */

body {
  background-image: -webkit-linear-gradient(316deg, #3bd2ae 0%, #36bac2 100%);
  background-image: linear-gradient(-226deg, #3bd2ae 0%, #36bac2 100%);
  height: 100vh;
}
